<%= form_for @micropost do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class ="field">
    <%= f.text_area :content %>
    <!--%= label_tag :micropost_content_count, "Characters remaining:" %-->
    <!--%= text_area_tag :micropost_content_count, 
                       140, 
                       :class => 'text-count', 
                       :disabled => true %-->
  </div>
  <div class="actions">
    <%= f.submit "Post" %>
  </div>
<% end %>
